.img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  border: 4px solid rgb(255, 255, 255);
  z-index: 2;
  /* background-color: rgba(76, 0, 130, 0.356); */
}
.squer {
  width: 30px;
  height: 30px;
  background-color: rgb(212, 212, 17);
  position: absolute;
  top: 50%;
  left: -15px;
  rotate: 45deg;
  z-index: 20;
}
.squer::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -10px;
  width: 30px;
  height: 30px;
  z-index: 20;
  border: 3px solid rgb(242, 240, 240);
}
