

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: "red";
}

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #111827; */
}

.active {
  @apply text-mainColor;
}
.Description{
  scroll-behavior: smooth;

}

